* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('/img/u.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
}
form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    animation: slideIn 1s ease-in-out;
}
label {
    font-size: 1.2rem;
}
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    transition: 0.3s;
}

input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
button {
    background: linear-gradient(45deg, #ff7b00, #ff0000);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    animation: flutuar 3s ease-in-out infinite alternate;
    
}
button:hover {
    transform: scale(1.1);
            background: linear-gradient(45deg, #ff0000, #ff7b00);
}
#result {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: fadeIn 1s ease-in-out;
    text-align: left;
}
.result-item {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 0;
    position: relative;
}
.result-item span {
    color: #ffcc00;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
}
.result-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
}
.result-item:last-child::after {
    display: none;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@media (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    
    form, #result {
        width: 90%;
    }
}
.botao-voltar{
  background: linear-gradient(45deg, #ff7b00, #ff0000);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    animation: flutuar 3s ease-in-out infinite alternate;
}
.botao-voltar:hover {
    transform: scale(1.1);
            background: linear-gradient(45deg, #ff0000, #ff7b00);
}